@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto Bold';
    src: url(../font/Roboto/Roboto-Bold.ttf);
}

:root {
    --color-black: #050605;
    --color-main-background-color: #151615;
    --color-text: #fff;
    --color-text-highlight: #2365e9;
}