@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto Bold';
    src: url(../font/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto Light';
    src: url(../font/Roboto/Roboto-Light.ttf);
}

:root {
    --big-size: 1100px;
    --middle-size: 700px;
    --little-size: 500px;
    --color-black: #050605;
    --color-main-background-color: #151615;
    --color-text: rgb(243, 240, 225);
    --color-text-highlight: #2365e9;
}

:root .light-theme {
    --color-black: #d3e6f7;
    --color-main-background-color: #f1f1f1;
    --color-text: #006dc9;
    --color-text-highlight: #1315a7;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

label:hover{
    cursor: pointer;
}

label:hover h2 {
    color: var(--color-text-highlight);
    transition: .1s ease-in-out;
}

.icon-format {
    cursor: pointer;
    font-size: 1.3em;
    color: var(--color-text-highlight);
}

@media all and (max-width: 500px){
    label h2 {
        font-size: 1.3em;
    }

    .text {
        letter-spacing: initial;
        font-size: 0.9em;
    }
}