@import "v-select-theme";

@font-face {
    font-family: 'Inter';
    src: url(../font/Inter/Inter-Medium.ttf);
}

@font-face {
    font-family: 'Inter Bold';
    src: url(../font/Inter/Inter-Bold.ttf);
}

@font-face {
    font-family: 'Inter Light';
    src: url(../font/Inter/Inter-Light.ttf);
}

:root {
    --big-size: 1100px;
    --middle-size: 700px;
    --little-size: 500px;
    --color-black: #050605;
    --color-main-background-color: #151615;
    --color-text: #fff;
    --color-text-highlight: #568eff;
    --color-boxshadow1: rgba(255, 255, 255, 0.25);
    --color-boxshadow2: rgba(255, 255, 255, 0.3);
    --color-boxshadow3: rgba(255, 255, 255, 0.35);
}

:root .light-theme {
    --color-black: #d3e6f7;
    --color-main-background-color: #f1f1f1;
    --color-text: #006dc9;
    --color-text-highlight: #1619b9;
    --color-boxshadow1: rgba(90, 90, 90, 0.25);
    --color-boxshadow2: rgba(90, 90, 90, 0.3);
    --color-boxshadow3: rgba(90, 90, 90, 0.35);
}

.light-theme .main-background {
    & img, & .black-filter {
        display:none;
    }
}

label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

label:hover {
    cursor: pointer;
}

label:hover h2 {
    color: var(--color-text-highlight);
    transition: .1s ease-in-out;
}

.icon-format {
    cursor: pointer;
    font-size: 1.3em;
    color: var(--color-text-highlight);
}

@media all and (max-width: 500px) {
    label h2 {
        font-size: 1.3em;
    }

    .text {
        letter-spacing: initial;
        font-size: 0.9em;
    }
}
